@import url(base.css);

#accButton {
    background-color: lightgrey;
    padding: 10px 15px 10px 12px;
    background-color: lightgrey;
    border-style: solid;
    border-width: 3px;
    border-radius: 18px;
    border-color: black;
    font-size: 13px;
    color:  black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#accButton:hover {
    background-color: darkgray;
}
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.center {
    position: absolute;
    top: 75%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

