@import url(base.css);

img {
    height: 40%;
    width: 40%;
    border: 5px solid #000;
    position: relative;
    display:flex;
    justify-content: center;
    left:80%;
    border-radius: 90%;
}

.thumb {
    height: 40%;
    width: 40%;
    border: 5px solid #000;
    position: relative;
    display:flex;
    justify-content: center;
    left:80%;
    border-radius: 90%;
}

